.footer {
  background: var(--theme-color);
  color: var(--outline-color);
  text-align: center;
  margin-top: 48px;
  padding: 16px;
}

.footer p {
  margin: 8px;
}

.footer a {
  color: var(--color-link);
}
