@import "../../static/styles/variables";

.footer {
  padding: 16px;
  margin-top: 48px;
  color: $outline-color;
  text-align: center;
  background: $theme-color;
}

.footer p {
  margin: 8px;
}

.footer a {
  text-decoration: underline;
}
