@import "../assets/styles/variables";

.header {
  margin-bottom: 16px;
  color: $outline-color;
  background: $theme-color;
  box-shadow: $shadow;

  @include mq() {
    margin-bottom: 24px;
  }
}

.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  height: 48px;
  padding: 0 12px;

  @include mq() {
    height: 64px;
    padding: 0 32px;
    margin: 0 auto;
  }
}

.title {
  margin-bottom: 2px;
  font-family: $font-strong;
  font-size: 24px;
  font-weight: 600;

  @include mq() {
    font-size: 32px;
  }
}

.socials {
  display: flex;
}

.link {
  margin-left: 8px;

  @include mq() {
    margin-left: 16px;
  }
}

.icon {
  @include mq() {
    height: 32px;
  }
}
