@import "../assets/styles/variables";

.main {
  width: 100vw;
  padding: 16px;
  background: $background-secondary;
  box-shadow: $shadow;

  @include mq() {
    padding: 32px;
  }

  @include mq(pc) {
    max-width: 880px;
  }
}
