@import "../../static/styles/variables";

.main {
  width: 100vw;
  padding: 0 16px;
  background: $background-secondary;
  box-shadow: $shadow;

  @include mq(pc) {
    max-width: 880px;
    padding: 0 32px;
  }
}
