$font: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
  Meiryo, sans-serif;
$font-strong: "Arial Black", "Arial Bold", Gadget, sans-serif;

$theme-color: #0f4c81;
$background-primary: #efefef;
$background-secondary: #fff;
$color: #2e2e2e;
$outline-color: #fff;
$color-link-primary: #67baea;
$color-link-secondary: #0366d6;
$shadow: 0 3px 6px rgba(0, 0, 0, 0.08);

$breakpoints: (
  "tab": "screen and (min-width: 560px)",
  "pc": "screen and (min-width: 960px)",
) !default;

@mixin mq($breakpoint: tab) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
