@import "./_reset.scss";
@import "./_variables.scss";

body {
  font-family: $font;
  color: $color;
  background: $background;
}

.article {
  &__title {
    p {
      color: $color-secondary;
    }

    h1 {
      margin: 8px 0 16px;
      font-size: 20px;
      font-weight: 600;

      @include mq() {
        font-size: 28px;
      }
    }
  }

  &__content {
    p,
    table,
    blockquote,
    address,
    pre,
    iframe,
    form,
    figure,
    dl,
    ul,
    ol,
    hr {
      margin-top: 16px;
      line-height: 1.9;
    }

    blockquote {
      padding: 16px 0 16px 16px;
      margin: 24px 0;
      color: $color-secondary;
      border-left: 5px solid $border-color;

      p {
        margin: 0;
      }

      blockquote {
        margin: 16px 0 0;
      }
    }

    h2 {
      padding: 8px 16px;
      margin: 36px 0 16px;
      font-size: 20px;
      font-weight: 600;
      border-left: solid 5px $theme-color;

      @include mq() {
        font-size: 24px;
      }
    }

    h3 {
      padding-bottom: 6px;
      margin: 20px 0 16px;
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px solid $border-color;

      @include mq() {
        font-size: 20px;
      }
    }

    h4,
    h5,
    h6 {
      margin: 16px 0 16px;
      font-size: 16px;
      font-weight: 600;
    }

    ul {
      padding-left: 24px;
      margin: 24px 0;
      list-style-type: disc;

      p {
        margin: 0;
      }

      ul {
        margin: 0;
        list-style-type: circle;
      }
    }

    ol {
      padding-left: 24px;
      margin: 24px 0;
      list-style-type: decimal;

      p {
        margin: 0;
      }

      ol {
        margin: 0;
      }
    }

    hr {
      border-color: $border-color;
    }

    a {
      color: $link-color;
    }

    table {
      display: block;
      overflow-x: scroll;
      border-collapse: collapse;

      td,
      th {
        padding: 8px 12px;
        border: 1px solid $border-color;
      }

      th {
        font-weight: 400;
        background: $background;
      }
    }
  }
}
