@import "./_reset.scss";
@import "./_variables.scss";

body {
  font-family: $font;
  color: $color;
  background: $background;
}

.article {
  &__title {
    p {
      color: $color-secondary;
    }

    h1 {
      margin: 8px 0 16px;
      font-size: 28px;
      font-weight: 600;
    }
  }

  &__content {
    p,
    table,
    blockquote,
    address,
    pre,
    iframe,
    form,
    figure,
    dl,
    ul,
    ol,
    hr {
      margin-top: 16px;
      line-height: 1.7;
    }

    h2 {
      margin: 36px 0 16px;
      font-size: 24px;
      font-weight: 600;
    }

    h3 {
      margin: 20px 0 16px;
      font-size: 20px;
      font-weight: 600;
    }

    h4,
    h5,
    h6 {
      margin: 16px 0 16px;
      font-size: 16px;
      font-weight: 600;
    }

    ul,
    ol {
      padding-left: 24px;
      margin: 24px 0;
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    ul ul,
    ol ol {
      margin: 0;
    }

    hr {
      border-color: $border-color;
    }

    a {
      color: $link-color;
    }

    table {
      display: block;
      overflow-x: scroll;
      border-collapse: collapse;

      td,
      th {
        border: 1px solid $border-color;
        padding: 8px 12px;
      }

      th {
        background: $background;
        font-weight: 400;
      }
    }
  }
}
